/* Coolors Exported Palette - https://coolors.co/360568-5b2a86-7785ac-9ac6c5-a5e6ba */
/* SCSS HEX */
$persian-indigo: #360568ff;
$ksu-purple: #5b2a86ff;
$shadow-blue: rgb(119, 18, 94);
$opal: #9ac6c5ff;
$celadon: #a5e6baff;

/* SCSS HSL */
$persian-indigo: hsla(270, 91%, 21%, 1);
$ksu-purple: hsla(272, 52%, 35%, 1);
$shadow-blue: hsla(224, 24%, 57%, 1);
$opal: hsla(179, 28%, 69%, 1);
$celadon: hsla(139, 57%, 77%, 1);

/* SCSS RGB */
$persian-indigo: rgba(54, 5, 104, 1);
$ksu-purple: rgba(91, 42, 134, 1);
$shadow-blue: rgba(119, 133, 172, 1);
$opal: rgba(154, 198, 197, 1);
$celadon: rgba(165, 230, 186, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #360568ff, #5b2a86ff, #7785acff, #9ac6c5ff, #a5e6baff);
$gradient-right: linear-gradient(90deg, #360568ff, #5b2a86ff, #7785acff, #9ac6c5ff, #a5e6baff);
$gradient-bottom: linear-gradient(180deg, #360568ff, #5b2a86ff, #7785acff, #9ac6c5ff, #a5e6baff);
$gradient-left: linear-gradient(270deg, #360568ff, #5b2a86ff, #7785acff, #9ac6c5ff, #a5e6baff);
$gradient-top-right: linear-gradient(45deg, #360568ff, #5b2a86ff, #7785acff, #9ac6c5ff, #a5e6baff);
$gradient-bottom-right: linear-gradient(135deg, #360568ff, #5b2a86ff, #7785acff, #9ac6c5ff, #a5e6baff);
$gradient-top-left: linear-gradient(225deg, #360568ff, #5b2a86ff, #7785acff, #9ac6c5ff, #a5e6baff);
$gradient-bottom-left: linear-gradient(315deg, #360568ff, #5b2a86ff, #7785acff, #9ac6c5ff, #a5e6baff);
$gradient-radial: radial-gradient(#360568ff, #5b2a86ff, #7785acff, #9ac6c5ff, #a5e6baff);